/* src/css/style.css */


header, footer {
    /* 样式化页面头部和底部 */
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 列 */
    grid-gap: 16px; /* 图片项之间的间隙 */
    max-width: 1200px; /* 限制画廊宽度 */
    margin: 0 auto; /* 水平居中 */
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例并填充容器 */
    transition: transform 0.3s ease; /* 添加 hover 效果 */
}

.gallery-item:hover img {
    transform: scale(1.1); /* hover 时放大图片 */
}



body {
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
